# 🐍 Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# 🧪 Virtual environment
my_world/
venv/
.env

# 🧰 Django
*.log
local_settings.py
db.sqlite3
media/

# 🧑‍💻 IDEs & editors
.vscode/
.idea/
*.swp

# 🖥 OS files
.DS_Store
Thumbs.db

# 🔐 Environment variables
.env.*
